{
  "extends": ["stylelint-config-recommended"],
  "plugins": [],
  "rules": {
    "selector-class-pattern": "^[a-z]+(?:-[a-z]+)*$",
    "color-hex-case": "lower",
    "declaration-block-no-duplicate-properties": true,
    "declaration-colon-space-after": "always",
    "unit-no-unknown": true,
    "block-opening-brace-space-before": "always",
    "max-line-length": 120,
    "order/order": [
      "dollar-variables",
      "custom-properties",
      "declarations",
      "rules"
    ],
    "indentation": 2
  }
}
