@font-face {
  font-family: "Inter";
  src: local("Inter Regular"), local("Inter-Regular"),
  url("./fonts/inter-regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: local("Inter SemiBold"), local("Inter-SemiBold"),
  url("./fonts/inter-semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: local("Inter Light"), local("Inter-Light"),
  url("./fonts/inter-light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: inherit;
  font-size: 16px;
  font-weight: 400;
  font-family: "Inter", system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 100vh;
  grid-template-areas: "content-left content-center content-right";

  min-width: 320px;

  margin: 0 auto;

  background-color: #ffffff;
}

.image {
  width: 100%;
  height: 100%;

  object-fit: cover;
}

.content-left {
  grid-area: content-left;
  display: grid;
  grid-template-rows: 60% auto;
}

.content-left__row {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 100px;
}

.content-left__row:nth-child(2) {
  color: #ffffff;
  background-color: gray;
}

.content-left__title {
  font-size: 4rem;
  font-weight: 600;
}

.content-left__icons {
  display: flex;
  align-items: center;
  gap: 30px;
}

.content-left__text {
  width: 80%;

  font-size: 1.2rem;
  font-weight: 300;
}

.content-center {
  grid-area: content-center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 60% auto;

  grid-template-areas:
    "item_1 item_1" "item_2 item_3";
}

.content-center__item1 {
  grid-area: item_1;
}

.content-center__item2 {
  grid-area: item_2;
}

.content-center__item3 {
  grid-area: item_3;
  background-color: #A6806B;
}

.content-right {
  grid-area: content-right;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);

  grid-template-areas:
    "item_1 item_2"
    "item_3 item_4"
    "item_3 item_5";
}

.content-right__item1 {
  grid-area: item_1;
}

.content-right__item2 {
  grid-area: item_2;
}

.content-right__item3 {
  grid-area: item_3;
}

.content-right__item4 {
  grid-area: item_4;
}

.content-right__item5 {
  grid-area: item_5;
}

.content-right__background-plain {
  background-color: #A61C1C;
}

@media (max-width: 1200px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "content-left content-center"
      "content-right content-right";
  }

  .content-left__title {
    font-size: 3rem;
  }
}

@media (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-areas:
      "content-left"
      "content-center"
      "content-right";
  }

  .content-left__title {
    font-size: 2.5rem;
  }
}


