* {
  padding: 0;
  margin: 0;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: inherit;
  font-size: 16px;
  font-weight: 400;
  font-family: "Inter", system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  display: flex;
  flex-direction: column;

  height: 100vh;
}

header {
  height: 60px;
  background-color: black;
}

main {
  height: calc(100vh - 120px);
}

footer {
  height: 60px;
  background-color: black;
}

h1 {
  color: white;
  font-size: 2rem;
}

.container {
  display: flex;
  align-items: center;
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
  padding: 0 2rem;
}